@import '../mixins';

.gearView {
  padding: 10px;

  @include small-screen {
    flex-direction: column;
  }

  &__top {
    display: flex;
    margin: auto;
    width: 100%;
    @include small-screen {
      flex-direction: column;
      height: auto;
    }
  }

  &__img {
    max-width: 400px;
  }

  &__info {
    margin-left: 24px;
    // max-width: 600px;
    //
    flex: auto;
    //
    @include small-screen {
        margin-left: 0;
    }
  }

  &__store {
    background-color: #e3e3e3;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
  }
}

