@import '../mixins';

.gearView {
  padding: 10px;

  @include small-screen {
    flex-direction: column;
  }

  &__top {
    display: flex;
    margin: auto;
    width: 100%;
    height: 400px;
    @include small-screen {
      flex-direction: column;
      height: auto;
    }
  }

  &__img {
    max-width: 400px;
  }

  &__info {
    margin-left: 24px;
    max-width: 600px;
  }
}
