@import '../mixins';

.profileView {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 10px;

  @include small-screen {
    flex-direction: column;
  }

  &__img {
    max-width: 400px;
  }

  &__info {
    margin-left: 24px;
    //max-width: 600px;

    //
    flex: 1;

    @include small-screen {
        margin-left: 0;
    }
  }
}
