@import '../../_mixins';

.badges {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 8px;
}

.badge {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.selected {
    outline: 8px solid lime;

    @include small-screen {
      outline: 4px solid lime;
    }
  }

  @include small-screen {
    width: 100px;
    height: 100px;
  }
}

.badge-img {
  @include absolute-image;
}

.badge-text {
  @include absolute-text;
}

.badge-title {
  text-align: left;
  font-weight: bold;
  font-size: 32px;

  margin: 4px 0;
  padding: 4px;

  @include small-screen {
  font-size: 18px;
  }
}

.badge-description {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 4px;

  @include small-screen {
    font-size: 12px;
  }
}