@import '../../mixins';

.banner {
  background-color: #36213e;
  padding: 12px 16px 12px 16px;
  font-size: 64px;
  font-family: "IM Fell Great Primer SC", sans-serif;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small-screen {
    font-size: 34px;
    flex-direction: column;
    justify-content: center;

    &__loginButton {
      align-self: flex-end;
      margin-top: 6px;
    }
  }

  &__subtitle, & a {
    color: #ffd600;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Monda', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;

    @include small-screen {
      font-size: 12px;
    }
  }
}
