
// Small Screen
@mixin small-screen {
  @media (max-width: 767px) {
    @content;
  }
}

// Medium Screen
@mixin medium-screen {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}

// Large Screen
@mixin large-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

// absolute image
@mixin absolute-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin absolute-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  color: black;
  text-shadow: 1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255);
  opacity: 0.8;
  z-index: 2;
  padding: 4px;
  width: 100%;
  transform: scale(90%);
  text-overflow: ellipsis;
}
